.container-link {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


.brands-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .brands-section {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    .brands-section {
        grid-template-columns: repeat(2, 1fr);
    }
}

.brand-cell {
    background-color: rgba(39, 34, 34, 0.575);
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    width: 90%;
    height: 220px;
    margin: 0 auto;
    border-radius: 50px;
}

.brand-cell img {
    width: 210px;
    height: 100px;
}

.brand-header {
    color: white;
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.brand-description {
    font-size: 0.8rem;
    color: white;
    text-align: center;
    padding: 0 10px;
    margin: 0;
    margin-top: 5px;
}