@font-face {
    font-family: 'Nunito';
    src: url('/assets/fonts/Nunito.woff2') format('woff2');
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    color: #000;
    background-color: #E62E5C
}

*::-moz-selection {
    color: #000;
    background-color: #E62E5C
}

@layer base{
    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background: #161616;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #E62E5C; 
        border-radius: 5px;
        border: 2px solid #161616;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: #E62E5C;
    }

    * {
        scrollbar-color: #E62E5C #161616;
        scrollbar-width: thin;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Nunito", system-ui, sans-serif;
    padding-top: 70px;
    overflow-x: hidden;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("/assets/img/amigos.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-color: rgba(20, 20, 36, 0.671);
    z-index: -1;
    pointer-events: none;
}

nav {
    background: transparent;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px); 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 5px 0;
    z-index: 1000;
}

nav a {
    margin: 0 15px;
    display: inline-block;
    text-align: center;
}

nav img {
    width: 40px;
    height: 40px;
    display: block;
    margin: 0 auto;
}

@media (max-width: 400px) {
    body {
        padding-top: 20px;
    }

    nav a {
        margin: 0 8px;
    }

    nav img {
        width: 25px;
        height: 25px;
    }
}

@media (max-width: 768px) {
    body {
        padding-top: 25px;
    }

    nav img {
        width: 35px;
        height: 35px;
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    body {
        padding-top: 45px;
    }

    nav img {
        width: 60px;
        height: 57px;
    }
}

@media (min-width: 1201px) {
    nav img {
        width: 90px;
        height: 83px;
    }
}