footer {
    background-color: #161616;
    padding: 20px 20px;
}

footer .container {
    max-width: 1500px; 
    padding: 0 20px;  
    margin: 0 auto; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p, footer a {
    font-size: 14px;
    color: rgb(255, 255, 255);
    margin: 0;
    text-decoration: none;
}

footer a {
    text-decoration: underline;
}