.container {
    padding: 70px 20px 0;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    padding: 5px 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 6px;
    margin-bottom: 20px;
    overflow: hidden; 
}

.logo {
    width: 65px;
    border-radius: 6px;
    pointer-events: none;
}

.search-form {
    flex: 1;
    margin: 0;
    display: flex;
    align-items: center;
}

.search-input {
    width: 100%;
    height: 30px;
    font-size: 14px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 6px;
    border: 1px solid #3f3e3e;
    padding-left: 10px;
    border: 1px solid #a7a6a6;
    outline: none;
    transition: border-color 0.3s ease-in-out;
}

.search-input:focus {
    border-color: #0077ff;
}

.search-icon {
    width: 30px;
    height: 50px;
    margin-top: 22px;
    pointer-events: none;
}

.welcome-section {
    font-size: 14px;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 6px;
    margin-bottom: 20px;
}

.car {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 6px;
}

.car-fin {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 6px;
}

.car-img {
    padding: 20px;
    pointer-events: none;
}

.car-description {
    flex: 1;
    text-align: left;
}

.car-description h2 {
    font-size: 20px;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
}

.ejemplos {
    text-align: center;
}

.model-lists {
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.model-list {
    flex:auto;
    list-style: none;
}

.model-list li {
    font-size: 14px;
    margin-bottom: 5px;
}

@media (min-width: 769px) {
    .container {
        padding: 100px 20px 0;
    }

    .header {
        flex-direction: row;
    }

    .logo {
        width: 65px;
    }

    .search-form {
        width: auto;
    }

    .car {
        flex-direction: row;
        align-items: center;
    }

    .car-fin {
        flex-direction: row;
        align-items: center;
    }

    .car-img {
        margin-right: 20px;
    }

    .car-description, .car-description h2, .ejemplos, .model-lists {
        text-align: left;
    }
}

@media (min-width: 770px) and (max-width: 1000px) {
    .container {
        padding: 90px 20px 0;
    }
}

@media (max-width: 491px) {
    .container {
        padding: 50px 20px 0;
    }

    .header {
        flex-direction: row;
        justify-content: center;
    }

    .logo {
        width: 65px;
    }

    .search-form {
        flex-direction: row;
        width: auto;
        align-items: center;
    }

    .search-input {
        width: auto;
        flex: 1;
    }

    .search-icon {
        width: 30px;
        margin-top: 22px;
    }

    .car {
        flex-direction: column;
        align-items: center;
    }

    .car-fin {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 320px) {
    .header {
        padding: 5px;
    }

    .logo {
        width: 65px;
        margin-left: 2px;
    }

    .search-input {
        width: 70%;
        margin-right: 7px;
        margin-left: 7px;
    }

    .search-icon {
        width: 25px;
        height: 40px;
        margin-top: 18px;
        margin-right: 2px
    }
}
