.section-producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto 0 auto;
}

.section-producto h1 {
    background-color: #e6d42e;
    color: #000;
    text-align: center;
    font-weight: normal;
    font-size: 2.19rem;
    margin: 0 20px ;
    padding: 5px 10px;
}

.brand-section {
    padding: 0 20px 20px;
    width: 100%;
    max-width: 1500px;
}

.brand-section-fin {
    padding: 0 20px 0;
    width: 100%;
    max-width: 1500px;
}

.brand-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.brand-header h2{
    color: white;
}

td p{
    color: white;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-size: 1.25rem;
    color: black;
    margin: 0;
}

.brand-logo {
    height: 26px;
    pointer-events: none;
}

table {
    width: 100%;
    border: 2px solid black;
    border-radius: 6px;
}

td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    border-radius: 6px;
}

.car-image {
    width: 100%;
    height: auto;
    max-width: 350px;
    max-height: 200px;
    transition: transform 0.2s ease;
    pointer-events: none;
}

td:hover .car-image {
    transform: scale(1.05);
}

@media (min-width: 768px) {
    .section-producto h1 {
        font-size: 2.81rem;
    }
}

@media (max-width: 480px) {
    .section-producto h1 {
        font-size: 1.56rem;
    }
}