.section-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    margin: 100px auto 0 auto;
    max-width: 1500px;
    width: 100%;
}

.section-video h1 {
    background-color: #0004ff4b;
    color: #00a6ff;
    text-align: center;
    font-weight: normal;
    font-size: 2.81rem;
    padding: 5px 10px;
    margin-bottom: 20px;
}

.video-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
}

.content-container, .content-container-fin {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px 20px 10px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(236, 12, 12, 0.959);
}

.content-item {
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
    flex-direction: column;
}

.content-item iframe {
    aspect-ratio: 16 / 9;
    width: 100%;
    max-width: 100%;
    border: none;
}

.content-text {
    flex-grow: 1;
    margin-top: 10px;
    text-align: start;
}

h3 {
    margin: 0;
    font-size: 1.25rem;
    color: #000000;
    text-align: center;
    font-weight: bold;
}

p {
    margin: 10px 0;
    color: #000000;
    font-size: 0.875rem;
}

@media (max-width: 768px) {
    .section-video h1 {
        font-size: 2.19rem;
    }

    .video-grid-container {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    iframe {
        width: 100%;
        max-width: 100%;
    }

    .content-item {
        flex-direction: column;
        align-items: center;
    }

    h3 {
        font-size: 1.125rem;
    }

    p {
        font-size: 0.875rem;
    }
}

@media (max-width: 480px) {
    .section-video h1 {
        font-size: 1.56rem;
    }

    .content-container, .content-container-fin {
        padding: 15px 15px 5px;
    }

    iframe {
        height: 200px;
    }

    h3 {
        font-size: 1rem;
    }

    p {
        font-size: 0.875rem;
    }
}
